@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap');


$primary: #0B315E;
$secondary: #F9F5EF;
$tertiary: gray;
$history: #2D9759;
$how: #FAE632;

$font: 'Raleway',
sans-serif;

$heading: 3.25rem; //52px
$heading-two: 2.0625rem; //33px
$sub-heading: 1.5625rem; //25px
$paragraph: 1.25rem; //20px
$default-font: 1rem; //16px

$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$black: 900;

html {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: $secondary;

    a:hover {
        text-decoration: none;
        color: $tertiary;
    }
}

.custom-bg {
    .bg-transparent {
        background-color: rgba(5, 5, 5, 0.4) !important;
        transition: ease-in, .5s;
    }

}


nav {

    .navbar-brand:hover {
        svg {

            // fill: #32FA85;
            rect {
                stroke: #FF9D00;
            }

            path {
                fill: #FF9D00;
            }
        }
    }

    .collapse {

        font-size: $default-font;
        font-weight: $medium;
        z-index: 1;

        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            padding-left: .5rem;

            @media (min-width: 991px) {
                align-items: center;
                background-color: transparent;

            }

            .active-custom {
                color: #FF9D00 !important;
            }
        }

        .contrast {
            color: $secondary !important;

        }

        a {
            color: $primary !important;
        }

        a:hover {
            color: #FF9D00 !important;
        }


    }
}

main {
    display: flex;
    flex-direction: column;

    .row 
    {
        width: 100%;
       
        margin: 0 auto;
        @media (min-width: 800px) 
        {
            width: 90%;
        }
    }
    
    .hero-content {
        color: $primary;
        max-width: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
            font-size: $heading;
            line-height: 71px;
            font-weight: $black;
        }

        p {
            font-size: $paragraph;
            line-height: 33px;
            font-weight: $regular;
            padding: 1rem 0;
        }

        a {
            color: $primary;
            font-size: $paragraph;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        a:hover {
            color: $tertiary;
            text-decoration: none;
        }

        ul li {
            padding: 0.5rem 0;
            display: flex;
            align-items: center;
            height: 50px;
        }

        li:hover {
            color: $tertiary;

            svg {
                path {
                    fill: $tertiary;
                }
            }
        }


    }
}



.main-container {
    padding: 0;
}

.category-wrapper {
    margin-top: 3rem;
    margin-bottom: 3rem;
    color: $primary;
    .row 
    {
        width: 100%;
       
        margin: 0 auto;
        @media (min-width: 800px) 
        {
            width: 90%;
        }
    }
    .category-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 3rem;
        text-align: left;
        max-width: 550px;
        margin: 0 auto;
        @media (min-width: 990px) {
            align-items: flex-start;
            padding-top: 0;
            
        }
    }

    .category-img {
        display: flex;
        justify-content: center;
    }

    h1 {
        font-size: $heading;
        font-weight: $bold;
        line-height: 71px;
        max-width: 532px;
    }

    p {
        font-size: $paragraph;
        font-weight: $regular;
        line-height: 40px;
    }

    a {
        font-size: $paragraph;
        font-weight: bold;
        color: $primary;
        width: 100%;
    }

    a:hover {
        svg {
            path {
                fill: $tertiary;
            }
        }
    }

}


.featured-wrapper {
    font-family: 'Raleway', sans-serif;
    border-radius: 12px;
    margin-top: 2rem;
    height: 620px;
    display: grid;
    place-items: center;
    background: rgba(225, 225, 225, 0.3);

    h1 {
        margin: 0 auto;
        font-size: 2.0625rem;
        font-weight: 700;
        color: #0B315E;
        margin: 0;
        font-weight: $black;
    }

    #header {
        text-align: center;
        margin-top: 1rem;
    }

    @media (min-width: 870px) {
        h1 {

            margin-left: 20px;

        }

        #header {
            text-align: left;


        }
    }

    .swiper-container {
        width: 100%;
        height: auto;
        padding-bottom: 45px;

    }

    .swiper-container #header {
        font-size: 25px;
        margin-bottom: 20px;
        font-weight: $semi-bold;
    }

    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

    .article-container {
        height: 500px;
        width: 332px;
        background: linear-gradient(135deg, rgba(249, 245, 239, 0.4) 0%, rgba(255, 255, 255, 0.4) 100%), #F9F5EF;
        background-blend-mode: soft-light, normal;
        border: 1.50701px solid rgba(255, 255, 255, 0.4);
        box-sizing: border-box;
        box-shadow: 0px 13px 31px rgba(12, 20, 33, 0.04), 0px 9.45547px 20.8947px rgba(12, 20, 33, 0.032375), 0px 6.58125px 13.5141px rgba(12, 20, 33, 0.027), 0px 4.31641px 8.38574px rgba(12, 20, 33, 0.023125), 0px 2.6px 5.0375px rgba(12, 20, 33, 0.02), 0px 1.37109px 2.99707px rgba(12, 20, 33, 0.016875), 0px 0.56875px 1.79219px rgba(12, 20, 33, 0.013), inset 0px 2px 1px #FFFFFF;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .article-items {
        width: 310px;
        height: 470px;
        margin: 0 auto;
        padding: 0;
    }

    .img-box {
        width: 310px;
        height: 210px;
        margin: 0 auto;

    }

    .img-box img {
        height: 100%;
        width: 100%;
        border-radius: 12px;
    }

    .article-badge {
        height: 40px;
        display: flex;
        align-items: center;

    }

    .list-unstyled {
        padding: 0;
        margin: 0;
    }

    .article-badge ul {
        display: flex;
        width: 210px;
        font-size: 13px;
        justify-content: space-evenly;
    }

    .badge {
        background: #F9F5EF;
        border: 0.5px solid #0B315E;
        box-sizing: border-box;
        border-radius: 8px;
        width: 49px;
        height: 17px;
    }

    .article-title {
        width: 290px;
        height: 62px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        margin: .5rem 0;

        a:hover {
            text-decoration: underline;
            color: gray;
        }
    }

    .article-title h1 {
        font-size: 26px;
        line-height: 31px;
        margin: 0;
        padding: 0;
        font-weight: bolder;

    }

    .article-text {
        width: 290px;
        height: 75px;
        padding-left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .article-text p {
        padding: 0;
        margin: 0;
        font-size: 16px;
    }

    .article-bottom {
        // margin-top: 10px;
        width: 300px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        // margin-left: 5px;
        bottom: 20px;
        left: 10px;

        a {
            color: #0B315E;
            font-weight: 700;
        }

        a:hover {
            background-color: #0B315E;
            color: #F9F5EF;
        }
    }

    .article-category {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 133px;
    }

    .article-category-circle {
        height: 25px;
        width: 25px;
        border-radius: 12.5px;
        background-color: #0B315E;
    }

    .article-category-title {
        width: 100px;
        height: 25px;
        font-size: 13px;
        line-height: 14px;
        padding-left: 10px;
    }

    .article-read-article {
        height: 30px;
        font-size: 13px;
        font-weight: 500;
        display: grid;
        place-items: center;
    }

    .article-read-article a {
        color: #0B315E;
        padding: 5px 15px;
        border: 0.5px solid #0B315E;
        margin: 0;
        border-radius: 35px;
    }



    .swiper-button-prev {
        color: #000;
    }
}

footer {
    min-height: 77px;
    background-color: #e0e0e0;
    display: grid;
    place-items: center;

    .footer-item {
        text-align: center;

        ul {
            width: 100px;
            margin: 0 auto;
            display: flex;
            justify-content: space-evenly;
        }
    }
}

.article-body {
    background-color: #1A1C1E;
    .article-hero-bg {
        background-image: url(../../img/invention-hero.png);
        height: 450px;
        position: relative;
        max-width: 1280px;
        margin: 0 auto;
  
    }

    .article-header {
        position: absolute;
        bottom: 10%;
        left: 6.5%;
        color: $secondary;
        max-width: fit-content;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        span:nth-child(1) {
            font-size: 1rem;
            font-weight: $semi-bold;
            color: $history;
        }

        h1 {
            font-size: $heading;
            font-weight: $bold;
            padding-top: 0;
        }
    }

    .author-info {
        margin-top: 1rem;
        display: flex;
        width: 210px;
        justify-content: space-between;
        align-items: center;
        font-weight: $medium;
        height: 50px;

        .author-img {
            height: 50px;
            width: 50px;
            border-radius: 25px;
            background-image: url(../../img/author-img.png);
            background-size: cover;
            background-position: center;
            background-color: rgba($color: $primary, $alpha: .4);
            transform: rotateY(180deg);
            border:1px solid $secondary;
        }

        .author-name {
            span {
                font-weight: $regular;
            }
        }
    }

    .article-content-body
    {
        color: #EBE8E2;
        .row 
        {
            padding: 2rem 0;
        }
        .article-wrapper
        {
            display: flex;
            justify-content: center;
            align-items: center;
        }
       
        .article-content{
            max-width: 60ch;
            padding-top: 2rem;
            h1 
            {
                font-size: $heading;
                font-weight: $regular;
                text-align: left;
            }
            h2 
            {
                font-size: $sub-heading;
                font-weight: $semi-bold;
                line-height: 41px;
                padding-top: 1rem;
            }
            p 
            {
               font-size: $paragraph;
               line-height: 33px;
               font-weight: $light;
               color: #EBE8E2; 
               max-width: 50ch;
            }
        }
        .article-img-one
        {
            max-width: 70ch;
            margin: 0 auto;
        }

         #article-custom
        {
            margin-top: 1rem;
            background-color: #EBE8E2;
            color: #1A1C1E;
            padding-bottom:2rem;
            p
            {
                color:#1A1C1E;
            }
            h2 
            {
                font-weight: $bold;
            }
            h3 
            {
                font-weight: $medium;
            }
        }
        .article-text
        {
            padding-top: 1rem;
        }
    }

}